* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

 .container {
    width: 1110px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
 }

 .header {
    width: 100%;
    top: 24px;
    position: absolute;
    .container {
        display: flex;
        justify-content: space-between;
    }
    label {
        display: block;
        height: 40px;
        width: 40px;
        background: #fff;
        border-radius: 50%;
        position: relative;
    }
    #switcher {
        display: none;
    }
    .toggle {
        display: block;
        width: 18px;
        height: 2px;
        background: black;
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 9px);
    
        &::after,
        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 2px;
            background: black;
            position: absolute;
        }
        &:after {
            top: -5.6px;
        }
        &:before {
            top: 5.6px;
        }
    }
    .menu {
        max-height: 0;
        width: 280px;
        background: #fff;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }
}

// Hero
.hero {
    height: 100vh;
    background: url(../Img/Slider.jpg) center / cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;

    .container {
        & > * {
            max-width: 55%;
        }
    }

    &_uptitle {
        margin: 0;
        font-size: 14px;
        line-height: 21px;
    }

    &_title {
        margin: 0;
        font-size: 60px;
        line-height: 74px;
    }

    &_subtitle {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
    }

    &_hero_link {margin: 0;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
    }
}

//brands
.brands {
    position: relative;

    &_list {
        background: #fff;
        padding: 60px 0 64px 55px;
        display: flex;
        align-items: center;
        position: absolute;
        top: -120px;
        right: 0;
        column-gap: 66px;
        width: 1276px;
        max-width: 100%;
        border-radius: 2px;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    }
}


    





    





    
   
   



